.auto-width {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.color1 {
    background-color: #00427f;
}

.color2 {
    background-color: #3c9845;
}

.color3 {
    background-color: #81b444;
}

.color4 {
    background-color: #bfd630;
}

.color5 {
    background-color: #ffdd37;
}



